amqp==5.0.2
asgiref==3.3.1
attrs==20.3.0
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==3.1.4
django-celery-results==2.0.0
django-redis==4.12.1
djangorestframework==3.12.2
drf-spectacular==0.13.1
idna==2.10
importlib-metadata==3.4.0
inflection==0.5.1
jsonschema==3.2.0
kombu==5.0.2
lxml==4.6.2
multitasking==0.0.9
numpy==1.19.5
pandas==1.1.5
prompt-toolkit==3.0.10
psycopg2-binary==2.8.6
PyMySQL==0.10.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
yfinance==0.1.55
zipp==3.4.0
